body{
    margin: 0;
    overflow: hidden;
    background-color: #000;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    z-index: 0;
}

canvas:hover{
    cursor: none;
}

img{
   display: none;
}

.menu{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 2rem;
    color: #fff;
    border-radius: 5px;
    user-select: none;
}
.menu div{
    margin: 0 auto 1rem;
}
.menu span{
    border: 1px solid #fff;
    padding: .3rem;
}
.score{
 
    user-select: none;
    position: absolute;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.5);
    right: 0;
    top: 0;
    z-index: -1;
    padding: 1rem;
    border-radius: 5px;
    margin: .5rem .5rem 0 0;
}
